header{
    display: inline-block;
    width: 100%;
}
.topnav{
    display: inline-block;
    overflow: hidden;
    padding: 0% 1% 0% 50%;
}
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  
}