/*General Style*/
body{
  font-family: 'Courier New', Courier, monospace;
  color: #212A3E;
}
a{
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}
section {
  height: 100vh;
  display: flex; 
  flex-direction: column; 
}
button{
  border: none;
  background-color: aqua;
  padding: 2vh;
  border-radius: 10%;
  font-weight: bold;
  cursor: pointer;
} 
h1{
  font-size: 4vh;
  font-weight: bold;
  padding: 2vh;
}
p{
  font-size: 2vh;
  padding: 2vh;
}
img{
  max-width: 100%;
  max-height: 100%;
}
/*Section 1*/
#section1{
  background-image: url("photos/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
header{
  width: 100%;
  height: 8%;
  display: flex;
}
#logo{
  flex: 1;
}
#topnav{
  display: flex;
  flex-direction: row;
  flex: 2;
  justify-content: space-between;
  padding: 3vh 3vw;
  flex-wrap: wrap;
}
#topnav a{
  text-decoration: none;
  padding: 0vh 1vw 0vh 0vw;
  font-weight: bold;
  transition: 0.5s;
  font-size: large;
}
main{
  position: absolute;
  top: 30vh;
  left: 34vw;
  text-align: center;
  transform: rotate(-1deg);
}
/*Section 2*/
.section2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutus1{
  flex: 1;
  background-color: #fff;
  text-align: center;
}
#aboutus2{
  flex: 2;
  padding: 10% 0% 0% 10%;
  background-image: url(photos/about.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  font-weight: bold;
  color: #F1F6F9;
} 
.barprogress {
  background-color: #ddd;
  position: relative;
  width: 40%;
  height: 1vh;
  margin: 2vh;
}

.bar{
  background-color: aqua;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 3s ease;
  width: 0;
}
/*Section 3*/
#section3{
background-color: aqua;
}
#work1{
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#meter1, #meter2, #meter3, #meter4, .meterImg{
  width: 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#meter1 p, #meter2 p, #meter3 p, #meter4 p{
  padding: 0%;
  width: 100%;
}
#work2{
  display: flex;
  height: 74%;
  width: 100%;
  flex-wrap: wrap;
}
#work2 img{
  width: 25%;
  object-fit: cover;
  height: 50%;
}
#workbtn{
  height: 6vh;
  border-radius: 0px;
  background-color: aqua;
  color: #212A3E;
}
/*Section 4*/
#section4{
  display: flex;
  flex-direction: column;
}
.process1{
  display: flex;
  flex-direction: column;
  height: 60%;
  align-items: center;
}
.yt{
  height: 50%;
  width: 60%;
}
.process1 h1{
  padding-top: 2vh;
}
.process2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 40%;
  width: 100%;
  background-color: #F5F5F5;
}
.item{
  width: 25%;
  text-align: center;
}
/*Section 5*/
#section5{
  display: flex;
  flex-direction: column;
}
.quote-container {
  width: 100%;
  height: 70%;
  position: relative;
  overflow: hidden;
  background-color: aqua;
}

.quote-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.quote-card.active {
  opacity: 1;
}

.quote {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner{
  width: 100%;
  height: 30vh;
}
.banner img{
  width: 90%;
  padding: 0% 5% 0% 5%;
}
/*Section 6 */
#section6{
  display: flex;
  flex-direction: column;
}
.contact{
  text-align: center;
  height: 75vh;
  background-color: #ddd;
}
#nick, #email{
  margin-top:2vh;
  height: 4vh;
  width: 20vw;
}
#title{
  margin-top:2vh;
  height: 4vh;
  width: 41vw;
}
#textarea_com{
  margin-top:2vh;
  width: 41vw;
  height: 30vh;
  resize: none;
  
}
#submit_btn{
  border: none;
  background-color: aqua;
  padding: 2vh;
  border-radius: 10%;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2vh;
}

footer{
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 100%;
  background-color: #212A3E;
  color: #ddd;
}
.copyr{
  display: flex;
  flex-direction: column;
  width: 25vw;
  justify-content: center;
  
}
h2{
  padding-left: 1vw;
}
.info{
  display: flex;
  flex-direction: column;
  width: 25vw;
  justify-content: center;
  align-items: center;
}
.links{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.vert{
  width: 25%;
  max-height: 25%;
}

/*animations*/
#topnav a:hover{
  color:aqua;
}

/*Media*/
@media (max-width: 400px) {
  section {
    height: auto;
    display: flex; 
    flex-direction: column; 
  }
  /*Section 1*/
  .section1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header{
    flex: 1;
  }
  main{
   padding: auto;
   transform: none;
   left: auto;
   top: auto;
   flex: 1;
   position: relative;
   padding-bottom: 2%;
  }
  /*Section 3*/
 #work1{
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  align-items: center;
  padding: 5% 0% 5% 0%;
 }
 #work2{
  display: flex;
  height: 50%;
 }
 /*Section 4*/
 .section4{
  height: 100%;
 }
 .item{
  width: 50%;
  text-align: center;
}
/*Section 6*/
.contact{
  height: auto;
  padding-bottom: 2%;
}
#nick, #email{
 
  width: 40vw;
}
#title{
  width: 86vw;
}
#textarea_com{
  width: 86vw;
}
footer{
  flex-wrap: wrap;
}
.copyr{
  padding-top: 1%;
  width: 100vw;
}
.info{
  width: 100vw;
}
.links{
  border-top: 2px solid #F5F5F5;
  
  width: 100%;
}
}